#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    width: 700px;
    height: 700px;
    border-style: solid;
}

div{
    border-style: solid;
}

body{
    margin: 80px;
    background-color: aqua;
}

.eventTouch{
    background-color: aquamarine;
}