a{text-decoration: none;} /*하이퍼링크 밑줄 없애기*/
a:visit{color:black;}
body{
    margin: 0px;
    padding: 5px;
}
.menuicon{
    word-spacing : 30px;
    margin-left : 120px;
    margin-top : -60px;
    margin-bottom : 60px;
    font-family : '카페24 아네모네'
}
.background{
    background:
    url("../../사진/define-background.jpg") no-repeat;  /*반복되지않게*/
    background-size: cover;  /*배경 지역이 배경이미지로 완전히 덮히도록 이미지를 가능한 크게해서 표시하기 때문에 일부가 안보일 수도 있음*/
    background-position: center center; /* 백그라운드 위치는 세로축과 가로축의 중앙에 위치하도록 */
    width: 100vw; /* 페이지의 가로 100퍼  1vw = 화면 가로길이의 1%*/ 
    height: 55vh; /* 페이지의 세로 100퍼  1vh = 화면 세로길이의 1%*/
}
.leftmenu{
    margin-left : 150px;
    margin-top : 70px;
    position : relative;
    top : 50px;
    width : 20%;
    height : 65%;
    background : linear-gradient(to right, transparent, rgba(20, 20, 20, 0.699)); /*그라데이션 지정*/
    text-align : left; /*텍스트정렬 왼쪽*/
    font-family : '카페24 아네모네';
    font-size : 3vw;
    color : white;
    padding : 25px;
    line-height: 60 px; /*줄간격*/
    overflow : hidden; /*(leftmenu보다 큰 컨텐츠는 숨겨줌)*/
}
 .rightmenu{
    position : relative;
    top : 50px;
    left : 30%;
    width : 60%;
    height : 50%;
    text-align : right;
    font-family : '카페24 아네모네';
    font-size : 1.5vw;
    line-height: 140%;
    color : white;
    padding : 30px;
}
.background2{
    background:
    url("../../사진/define-background2.jpg") no-repeat;  /*반복되지않게*/
    background-size: cover;  /*배경 지역이 배경이미지로 완전히 덮히도록 이미지를 가능한 크게해서 표시하기 때문에 일부가 안보일 수도 있음*/
    background-position: center center; /* 백그라운드 위치는 세로축과 가로축의 중앙에 위치하도록 */
    width: 70vw;
    height: 45vh;
    margin-left : 30%;
}